<h1>Listing contests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Slug</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Rules</th>
    <th>Css</th>
    <th>Promotion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.title %></td>
    <td><%= contest.description %></td>
    <td><%= contest.slug %></td>
    <td><%= contest.startdate %></td>
    <td><%= contest.enddate %></td>
    <td><%= contest.rules %></td>
    <td><%= contest.css %></td>
    <td><%= contest.promotion %></td>
    <td><%= link_to 'Show1', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
