<h1>Listing contest_optins</h1>

<table>
  <tr>
    <th>Contest</th>
    <th>Optinpartner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contest_optins.each do |contest_optin| %>
  <tr>
    <td><%= contest_optin.contest_id %></td>
    <td><%= contest_optin.optinpartner_id %></td>
    <td><%= link_to 'Show', contest_optin %></td>
    <td><%= link_to 'Edit', edit_contest_optin_path(contest_optin) %></td>
    <td><%= link_to 'Destroy', contest_optin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest optin', new_contest_optin_path %>
