<h1>Listing contest_prizes</h1>

<table>
  <tr>
    <th>Contest</th>
    <th>Prize</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contest_prizes.each do |contest_prize| %>
  <tr>
    <td><%= contest_prize.contest_id %></td>
    <td><%= contest_prize.prize_id %></td>
    <td><%= link_to 'Show', contest_prize %></td>
    <td><%= link_to 'Edit', edit_contest_prize_path(contest_prize) %></td>
    <td><%= link_to 'Destroy', contest_prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest prize', new_contest_prize_path %>
