<p id="notice"><%= notice %></p>

<p>
  <b>Contest:</b>
  <%= @contest_prize.contest_id %>
</p>

<p>
  <b>Prize:</b>
  <%= @contest_prize.prize_id %>
</p>


<%= link_to 'Edit', edit_contest_prize_path(@contest_prize) %> |
<%= link_to 'Back', contest_prizes_path %>
