<h1>Listing contest_entries</h1>

<table>
  <tr>
    <th>Contest</th>
    <th>Contestant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contest_entries.each do |contest_entry| %>
  <tr>
    <td><%= contest_entry.contest_id %></td>
    <td><%= contest_entry.contestant_id %></td>
    <td><%= link_to 'Show', contest_entry %></td>
    <td><%= link_to 'Edit', edit_contest_entry_path(contest_entry) %></td>
    <td><%= link_to 'Destroy', contest_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest entry', new_contest_entry_path %>
