<h1>Listing optinpartners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @optinpartners.each do |optinpartner| %>
  <tr>
    <td><%= optinpartner.name %></td>
    <td><%= optinpartner.label %></td>
    <td><%= link_to 'Show', optinpartner %></td>
    <td><%= link_to 'Edit', edit_optinpartner_path(optinpartner) %></td>
    <td><%= link_to 'Destroy', optinpartner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Optinpartner', new_optinpartner_path %>
