<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @optinpartner.name %>
</p>

<p>
  <b>Label:</b>
  <%= @optinpartner.label %>
</p>


<%= link_to 'Edit', edit_optinpartner_path(@optinpartner) %> |
<%= link_to 'Back', optinpartners_path %>
